.container {
  max-width: 960px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid black;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border: 1px solid black;
  background-color: #45a049;
  color: white;
}

#nome {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

#email {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

#senha {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

#confirmSenha {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin-right: 10px;
}

.genero {
  margin: 10px 0;
}

#campoOutroGenero {
  display: none;
  margin-top: 10px;
}

.interesses {
  margin: 10px 0;
}

#foto {
  margin: 10px 0;
}

#pais {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

input[type="submit"],
input[type="reset"] {
  padding: 10px 20px;
  margin: 10px 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #45a049;
}
